<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{~/css/headerhome.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home</title>
    <link th:href="@{~/css/footerhome.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body data-jc="exec" class="bg">
<div th:replace="headerhome :: header"></div>
    <div align="center" >
        <h2><strong>WELCOME TO OUR  ONLINE HELPDESK</strong><br/>
        A Modern, Responsive Helpdesk for our happy Costumers.</h2>
        <a sec:authorize="!isAuthenticated()" href="login" class="button-1">Get Started</a><br/>
		<img th:src="@{/images/helpdesk.png}" alt="" width="1000" height="450" >

</div>
</html>
<div th:insert="footerhome :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>